{% extends 'polls/base.html' %}

{% block content %}

<div class="container section">
  <div class="card s12 m6">
    <div class="card-content">
      <div class="card-title">
        {{ question.question_text }}
      </div>


      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="section">
          {% for choice in question.choice_set.all %}
          <p>
            <label>
              <input type="radio" name="choice" value="{{choice.id}}">
              <span>{{choice.choice_text}}</span>
            </label>
          </p>
          {% endfor %}
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" value="Vote">Vote
          <i class="material-icons right">send</i>
        </button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
